= wrap_layout :minimal do
  - content_for :head_meta do
    %meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimal-ui")
    %meta(content="yes" name="apple-mobile-web-app-capable")
    %meta(content="black-translucent" name="apple-mobile-web-app-status-bar-style")

  - content_for :head_css do
    = stylesheet_link_tag "jina-slides"

  - content_for :head_js do
    :javascript
      var link = document.createElement( 'link' );
      link.rel = 'stylesheet';
      link.type = 'text/css';
      link.href = window.location.search.match( /print-pdf/gi ) ? '/assets/css/vendor/reveal-js/print/pdf.css' : '/assets/css/vendor/reveal-js/print/paper.css';
      document.getElementsByTagName( 'head' )[0].appendChild( link );

  - content_for :foot_js do
    = javascript_include_tag "jina-slides"


  .love-wins Love Wins
  .reveal
    .slides= yield
