// ===========================================================================
// BLOCK TEXT

%block-text {
  padding: $spacing-vertical 0;

  &:first-child { padding-top:    0; }
  &:last-child  { padding-bottom: 0; }
}

h1,
h2,
h3,
p,
ul,
ol {
  @extend %block-text;
  margin: 0;
  text: {
    rendering: optimizeLegibility;
    wrap: balanced;
  }
  orphans: 3;
   widows: 3;
}

h1,
h2,
h3 { font-family: $font-family-heading; }

h1,
h2,
h3 {
  font-weight: 100;
  line-height: 1.25;

  + h3,
  + p,
  + ul { padding-top: 0; }
}

h1 {
  font-size: 4.4rem;
  @include breakpoint($tablet-large) {
    font-size: 7.2rem;
  }
}

h2 { font-size: 3.6rem; }

h3 {
  font-size: 1.8rem;
  text-transform: uppercase;
}

nav ul,
form ol { list-style: none; }
