// ===========================================================================
// BLOCK TEXT

%block-text { padding: $spacing-vertical 0; }

h1,
h2,
h3,
p,
ul,
ol,
address {
  @extend %block-text;
  margin: 0;
  text: {
    rendering: optimizeLegibility;
    wrap: balanced;
  }
  orphans: 3;
   widows: 3;
}

h1,
h2,
h3 { font-family: $font-family-heading; }

h1,
h2,
h3 {
  font-weight: 100;
  line-height: 1.25;

  + h3,
  + p,
  + ul { padding-top: 0; }
}

h1 {
  @include ms-respond(font-size, 4.20014);

  @include breakpoint($tablet-large) {
    padding-top: $spacing-vertical-x-large;
    line-height: 1;
  }
}

h2 { @include ms-respond(font-size, 2.72537); }

h3 {
  @include ms-respond(font-size, 1.2506);
  text-transform: uppercase;
}

nav ul,
form ol { list-style: none; }

address { font-style: normal; }
