// ===========================================================================
// BLOCK TEXT

%block-text { padding: $spacing-vertical 0; }

h1,
h2,
h3,
p,
ul,
ol,
address {
  @extend %block-text;
  margin: 0;
  text: {
    rendering: optimizeLegibility;
    wrap: balanced;
  }
  orphans: 3;
   widows: 3;
}

h1,
h2,
h3 { font-family: $font-family-heading; }

h1,
h2,
h3 {
  font-weight: 200;
  line-height: 1.25;

  + h3,
  + p,
  + ul { padding-top: 0; }
}

h1 {
  font-size: 7.2rem;

  @media screen and (min-width: $tablet-large) {
    padding-top: $spacing-vertical-x-large;
    line-height: 1;
  }
}

h2 { font-size: 3.2rem; }

h3 {
  font-size: 1.8rem;
  text-transform: uppercase;
}

p {
  & + & {
    text-indent: $spacing-vertical * 3;
    margin-top: -#{$spacing-vertical * 2};

    form & { text-indent: 0; }
  }
}

nav ul,
form ol { list-style: none; }

address { font-style: normal; }
