form {
  li { padding: $spacing-vertical 0; }

  br { display: none; }
}

fieldset {
   margin: 0;
   border: 0;
  padding: 0;
}

legend { @extend h2; }

label {
  display: block;

  &.error {
    padding: $spacing-vertical 0 0;
    color: mix($red, $maroon);
  }
}

.required {
  position: relative;
  top: -#{$line-height}em;
  float: right;
  margin-bottom: -$spacing-vertical-large;
}

input,
select,
textarea,
button {
  border: 1px solid $color-border;
  padding: $spacing-vertical-small $gutter-width;
  width: 100%;
  line-height: inherit;
  vertical-align: middle;
  background-color: $white;

  &.error {
    outline: .1rem solid $red;
    border-color: $red;
    background: rgba($red, .0625);
  }
}

textarea {
  padding: {
       top: $spacing-vertical;
    bottom: $spacing-vertical;
  }
  resize: vertical;
}

button {
  border-radius: .4rem;
  background-color: $color-primary;
  color: $white;

  &:hover,
  &:focus { background-color: darken($color-primary, 12.5%); }

  &:active { background-color: darken($color-primary, 25%); }
}
