// ===========================================================================
// INLINE TEXT

a,
abbr[title] { border-bottom-color: $color-border; }

a {
  border-bottom: {
    width: 1px;
    style: solid;
  }
  padding-bottom: .1rem;
  text-decoration: none;
  color: $color-primary;

  &:hover,
  &:focus  {
    border-bottom-width: 2px;
    color: darken($color-primary, 12.5);
  }

  &:focus { outline: thin dotted; }

  &:hover,
  &:active { outline: 0; }

  &:active { color: darken($color-primary, 25); }
}

abbr[title] { cursor: help; }

strong { font-weight: $font-weight-strong; }
