// ===========================================================================
// MEDIA

hr {
  display: block;
  margin: 1.1rem 0;
  border: 0 {
    top: .1rem solid $color-border;
  };
  padding: 0;
  height: .1rem;
}

audio,
canvas,
iframe,
img,
svg,
video { vertical-align: middle; }

img {
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
}
