@include border-box-sizing;

html,
body {
   width: 100%;
  height: 100%;
}

html {
  font-size: 62.5%;
  background-color: #fdfdfd;
  color: $gray;
}

body {
  font: 400 #{$font-size-regular}/#{$line-height} "freight-text-pro", Georgia, serif;
  background-color: transparent;
}

::selection { background: rgba($color-primary, .0625); }
