* {
  &,
  &:before,
  &:after { box-sizing: border-box; }
}

html,
body {
   width: 100%;
  height: 100%;
}

html {
  font-size: 62.5%;
  background-color: #fdfdfd;
  color: $grey;
}

body {
  font: 400 1.6rem/#{$line-height} "freight-text-pro", Georgia, serif;
  background-color: transparent;
}

::selection { background: rgba($color-primary, .0625); }
