.complementary {
  img {
    display: block;
    margin: 0 auto;
    border-bottom: {
      right-radius: 100%;
       left-radius: 100%;
    }
    max-width: 32rem;
  }

  @include breakpoint($tablet-large) {
    width: 40%;

    img { max-width: 100%; }
  }
}
