.complementary {
  img {
    display: block;
    margin: 0 auto;
    border-radius: 100%;
    max-width: 32rem;
  }

  @include breakpoint($tablet-large) {
    width: 25%;

    img { max-width: 100%; }
  }
}
