.main {
  @extend %column;
  margin: 0 auto;
  max-width: 64rem;

  @media screen and (min-width: $tablet-large) {
    .two-column & {
      margin-right: 32rem;
      padding-right: $gutter-width-large;
    }
  }
}
