.main {
  &.column { padding-bottom: $spacing-vertical-x-large; }

  @include breakpoint($tablet-large) {
    float: right;
    width: 75%;

    &.column {
      padding: {
        top: $spacing-vertical-x-large;
        left: $gutter-width-large;
      }
    }
  }
}
