- if current_page.data.summary
  %meta(name="description" content="#{current_page.data.summary}")

- else
  %meta(name="description" content="The personal website, journal, and portfolio of Jina")

%meta(name="viewport" content="width=device-width, initial-scale=1")
