.caps {
  font-size: 75%;
  text-transform: uppercase;
  letter-spacing: .05rem;

  h3 & { font-size: 100%; }
}

.amp {
  font: {
    style: italic;
    weight: normal;
    family: Baskerville, Palatino, "Book Antiqua", serif;
  }
  line-height: 0;
}
