.alert
  .container
    %p
      - data.speaking.upcoming.each_with_index do |event, index|
        - if index == 0
          See me speak at
          %strong= link_to event.name, event.link
          on
          = succeed "," do
            =event.date
          2015
          in
          = event.location
