$black:         #000;
$grey-darkest:  #222;
$grey-darker:   #444;
$grey-dark:     #666;
$grey:          #888;
$grey-light:    #ccc;
$grey-lighter:  #ddd;
$grey-lightest: #eee;
$white:         #fff;



$color-text: $grey-darker;
