// ===========================================================================
// THEMES



$black:             #000;
$black-translucent: rgba($black, .0625);
$black-transparent: rgba($black, 0 );

$white:             #fff;

$color-primary:     #693;

$color-border:      $black-translucent;
$color-background:  #fbf5df;
