---
title: Hello
---

:markdown
  # Ciao!

  Jina is a designer, developer, and artist living in San Francisco. She
  enjoys creating beautiful user experiences. Jina works at
  [Salesforce](http://salesforce.com), originally as a Product Designer for
  two years with [Do](http://do.com) (<abbr title="rest in peace">RIP</abbr>)
  and now as a Senior Product Designer with the Salesforce
  <abbr title="User Experience">UX</abbr> team. Previously, she has worked at
  rad companies including [Apple](http://apple.com),
  [Engine Yard](http://engineyard.com), and
  [Crush + Lovely](http://crushlovely.com). She also coauthored two books,
  [Fancy Form Design](http://fancyformdesign.com) and
  [The Art <span class="fleurish">&</span> Science
  <i class="fleurish">of</i> CSS](http://artsciencecss.com). She has a
  Bachelor <i class="fleurish">of</i> Fine Arts from
  [Memphis College <i class="fleurish">of</i> Art](http://mca.edu) and is
  slowly working on receiving her Master <i class="fleurish">of</i> Fine Arts
  from
  [Academy <i class="fleurish">of</i> Art University](http://academyart.edu).

  Jina loves Sass. She leads
  [Team Sass Design](http://sass-lang.com/styleguide/team), an open source
  task force that redesigned the Sass brand and website. She organizes the San
  Francisco Sass meet up, [The Mixin](http://themixinsf.com/). She was a
  Technical Editor for the book,
  [Sass <i class="fleurish">for</i> Web Designers](http://www.abookapart.com/products/sass-for-web-designers),
  by Dan Cederholm (A Book Apart). She is helping
  [Susy](http://susy.oddbird.net/), a layout toolkit for Sass. She also
  created the official Sass port of the responsive design framework,
  [320 <span class="fleurish">&</span> Up](http://stuffandnonsense.co.uk/projects/320andup/).

  Jina likes interior design, dark and vintage fashion, traveling, fancy food,
  whisky, wine, Batman, and cats. Her side project,
  [Art in My Coffee](http://artinmycoffee.com), is a curated gallery of coffee
  art.
