---
title: Hello
---

%main.main(role="main")
  %h1 Hello

  :markdown
    Jina created her first style guide in 2004. She has grown to be a
    designer, developer, writer, and speaker on design systems ever since. At
    [Salesforce][1], she is lead designer on the [Lightning Design System][2].
    She also created the [Design Systems Slack][3], which led her to start the
    newly formed San Francisco Design Systems Coalition. Recently, she
    organized [Clarity][4], the first ever design systems conference.

    Additionally, she is active in the [Sass][5] community. She leads the Sass
    brand and website. She was a tech editor for Dan Cederholm's
    [Sass for Web Designers][6]. She organizes [The Mixin][7], a front end
    meet up which has hosted talks by some of the most prominent members of
    the CSS/Sass community, and recently took ownership of [Sass News][8].

    Previously, Jina has worked at companies including [Apple][9],
    [GitHub][10], [Engine Yard][11], and [Crush + Lovely][12]. She coauthored
    two books, [Fancy Form Design][13] and [The Art & Science of CSS][14]. She
    has a Bachelor of Fine Arts from [Memphis College of Art][15] and is very
    slowly working on her Master of Fine Arts from
    [Academy of Art University][16].

    Jina likes interior design, dark and vintage fashion, traveling, fancy
    food, whisky, cigars, wine, Batman, and cats. Her side project,
    [Art in My Coffee][17], is a curated gallery of coffee art.

    [1]: http://salesforce.com
    [2]: http://salesforce.com/designsystem
    [3]: http://designsystems.herokuapp.com
    [4]: http://clarityconf.com
    [5]: http://sass-lang.com
    [6]: http://www.amazon.com/gp/product/193755712X/ref=as_li_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=193755712X&linkCode=as2&tag=jinabolcom-20&linkId=M3FOQW3DN7PAQLZN
    [7]: http://themixinsf.com
    [8]: http://sassnews.com
    [9]: http://apple.com
    [10]: http://github.com
    [11]: http://engineyard.com
    [12]: http://crushlovely.com
    [13]: http://www.amazon.com/gp/product/0980576849/ref=as_li_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=0980576849&linkCode=as2&tag=jinabolcom-20&linkId=G47XZ4NBD2E5THWD
    [14]: http://www.amazon.com/gp/product/0975841971/ref=as_li_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=0975841971&linkCode=as2&tag=jinabolcom-20&linkId=SPH2QQFW5F44ILZ2
    [15]: http://mca.edu
    [16]: http://www.academyart.edu
    [17]: http://artinmy.coffee
