/* ---------------------------------------------------------------------------
/* FONT-WEIGHT */

%font-weight-heading            { font-weight: 200; }
%font-weight-text               { font-weight: 400; }
%font-weight-text-strong        { font-weight: 600; }
%font-weight-navigation         { @extend %font-weight-text-strong; }
%font-weight-contentinfo-strong { @extend %font-weight-text-strong; }
